.pagination {
  margin-bottom: 0;

  .page-item {
    .page-link {
      min-width: 38px;
      padding: 0.5rem 0.5rem;

      &.disabled {
        border-radius: 0;
        background-color: var(--bs-white);
        color: var(--bs-body-color);
      }
    }

    &.active {
      .page-link {
        overflow: hidden;
      }
    }
  }
}

.pagination__select-size .form-select {
  border-color: #dee2e6;
  min-width: 77px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
