.pagination {
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
  }

  .page-item {
    .page-link {
      min-width: 38px;
      padding: 0.5rem 0.5rem;

      &.disabled {
        border-radius: 0;
        background-color: $white;
        color: $body-color;
      }
    }

    &.active {
      .page-link {
        overflow: hidden;
      }
    }
  }

  .pagination__select-size .form-select {
    border-color: var(--bs-pagination-border-color);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    min-width: 77px;
    margin-top: 0.5rem;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }
}
