.tippy-popover.tippy-box {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);

  .tippy-content {
    padding: 0;
  }

  .tippy-arrow {
    color: var(--bs-border-color-translucent) !important;
  }
}
