/* 
  Hack to fix "show code" buttons see: 
  
  https://github.com/42BV/ui/issues/94 
*/

pre.prismjs {
  color: inherit;

  code {
    .tag,
    .token {
      display: inline;
      margin-right: 0px;
      cursor: auto;
      color: inherit;
      background-color: rgba(0, 0, 0, 0) !important;
      padding-left: 0;
      padding-right: 0;
      font-size: 1em;
      font-weight: normal;
    }
  }
}
