.quill {
  .ql-container {
    min-height: 132px;
  }

  strong {
    font-weight: bolder;
  }

  p {
    word-wrap: break-word;
    word-break: break-all;
  }

  &.is-invalid {
    .ql-toolbar, .ql-container {
      border-color: $danger;
    }
  }
}
