@import '~@42.nl/ui-core-styling/dist/scss/abstracts/variables';

.pagination {
  .page-item {
    .page-link {
      border-radius: 3.125rem;
      min-width: 1.25rem;
      font-size: 0.9rem;
      overflow: hidden;
    }

    button.disabled.page-link {
      border-radius: 0;
      background-color: $white;
      color: $body-color;
    }

    &.active {
      .page-link {
        overflow: hidden;
      }
    }
  }
}
