.date-time-input {
  .input-group .btn {
    line-height: 1;

    & > i.material-icons {
      font-size: 22px;
    }
  }
}

.react-datepicker {
  &::after {
    clear: both;
    content: "";
    display: table;
  }

  .react-datepicker__navigation-icon::before {
    top: 13px;
  }

  .react-datepicker__month-container {
    max-width: calc((8 * 2.5rem) + 0.8rem);
  }

  .react-datepicker__month {
    padding: 0.4rem;
    margin: 0;
  }

  .react-datepicker__week-number,
  .react-datepicker__day-name,
  .react-datepicker__day {
    margin: 0;
    width: 2.5rem;
    line-height: 2.5rem;
  }

  input.react-datepicker-time__input {
    @extend .form-control;
  }
}

.modal .date-time-modal {
  .modal-body > div {
    display: flex;
    justify-content: center;
  }

  .react-datepicker {
    border-width: 0;

    .react-datepicker__header {
      border-width: 0;
    }
  }
}
