.date-time-input {
  &-format {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 0.5rem;
  }

  &.with-modal {
    .input-group .btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    & > .rdt {
      .input-group .material-icons:last-child {
        margin-right: 0;
      }

      > .rdtPicker {
        display: none;
      }
    }
  }
}

.date-time-modal .rdt .rdtPicker {
  border: none;
  float: none;
  position: relative;
}

.rdt {
  //@extend .dropdown-menu;
  position: relative;

  &.rdtOpen {
    .rdtPicker {
      display: block;
    }

    td.rdtDay.rdtDisabled,
    td.rdtMonth.rdtDisabled,
    td.rdtYear.rdtDisabled {
      color: var(--bs-gray-300);
    }

    td.rdtDay.rdtDisabled:hover,
    td.rdtMonth.rdtDisabled:hover,
    td.rdtYear.rdtDisabled:hover {
      cursor: not-allowed;
      background: none;
    }

    button,
    td,
    td.rdtDay:hover,
    td.rdtHour:hover,
    td.rdtMinute:hover,
    td.rdtSecond:hover,
    .rdtTimeToggle:hover {
      cursor: pointer;
    }

    .rdtSwitch,
    .rdtPrev,
    .rdtNext {
      border-radius: var(--bs-border-radius);

      &:hover {
        background: var(--bs-gray-200);
      }
    }

    .rdtCounters {
      display: inline-block;

      .rdtCounter {
        width: 2.5rem;
      }

      > div {
        float: left;
      }
    }
  }

  .rdtPicker {
    width: 271px;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: var(--bs-font-size-base);
    color: var(--bs-body-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);

    table {
      width: 100%;
      margin-bottom: 1rem;
      vertical-align: top;
      border-color: var(--bs-border-color);
      margin-bottom: 0 !important;
      border-spacing: 5px;
      border-collapse: separate;

      thead > tr > th,
      tbody > tr > td,
      tfoot > tr > td {
        text-align: center;
        font-size: 0.85rem;
        padding: 0.25rem;
      }

      thead {
        > tr {
          > th {
            border: none;
            font-weight: 400;

            &.dow {
              text-transform: uppercase;
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          border-bottom: 1px solid var(--bs-gray-200);
          width: 100%;
          left: 0;
        }
      }

      tbody > tr > td {
        border: 0;
        padding: 0;
        vertical-align: middle;
        font-weight: 300;
        color: var(--bs-gray-600);

        &.rdtOld,
        &.rdtNew {
          color: var(--bs-gray-300);
        }
      }
    }

    .rdtMonths,
    .rdtYears,
    .rdtDays {
      table > tbody > tr > td {
        &.rdtActive,
        &.rdtActive:hover {
          border-radius: 50%;
          box-shadow: 1px 1px 3px rgba(var(--bs-success), 0.24),
          0 1px 2px rgba(var(--bs-success), 0.48);
          background: var(--bs-success);
          color: white;
          font-weight: 500;
        }

        &:hover {
          background: var(--bs-gray-200);
        }
      }
    }

    .rdtDays {
      table > tbody > tr > td {
        width: 33px;
        height: 33px;
      }
    }

    .rdtToday {
      font-weight: bold;
      color: var(--bs-success);
    }

    .rdtMonths,
    .rdtYears {
      table > tbody > tr > td {
        width: 61px;
        height: 61px;

        &:hover {
          background: var(--bs-gray-200);
        }
      }
    }
  }
}
