// @remove-on-build-start
@import '~@42.nl/ui-core-styling/lib/variables';
@import '~@42.nl/ui-core-styling/lib/bootstrap';
@import '~@42.nl/ui-core-spinner/lib/scss/Spinner';
// @remove-on-build-end

.loading-page {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
}
