.epic-table {
  background-color: $gray-100;

  &--striped {
    .epic-table-cell--odd {
      // Must be transparent otherwise the shadow of the left / right
      // columns are negated.
      background-color: rgba($gray-400, 0.3);
    }
  }

  &-container {
    position: relative;
  }

  /*
    We style the `overlayscrollbars` so it is sticky always stays
    at the bottom of the screen.
  */
  .os-host {
    &-overflow {
      /* Override the overflow back to `normal` so sticky works. */
      overflow: visible !important;
    }

    .os-scrollbar-horizontal {
      position: sticky;
      top: 50px;
    }
  }

  &-fixed-header {
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 0;
  }

  &-header {
    background-color: map-get($theme-colors, primary);
    color: color-yiq(map-get($theme-colors, primary));
    font-weight: bold;
    flex-grow: 1;

    &-resizeable {
      width: 8px;
      height: 100%;
      cursor: col-resize;
    }

    .form-control {
      height: calc(1.5em + 0.2rem + 2px);
      border-radius: 0;
      padding: 0.375rem 0.2rem;
    }

    select.form-control {
      padding: 0rem 0.2rem;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  &-cell {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &-expander-row,
  &-detail-row {
    position: absolute;
    z-index: 4;
  }

  &-overlay {
    position: absolute;
    z-index: 3;
    background-color: $white;
  }
}

.user-select-none {
  user-select: none;
}
