.tag,
.rbt {
  .token,
  .rbt-token {
    @extend .badge, .badge-pill, .badge-primary;
    display: inline-block;
    margin-right: 0.1875rem;
    height: 18px;
    cursor: default;
  }

  .rbt-token {
    margin-top: 4px;
    padding-right: 17px;
  }

  .rbt-token-remove-button {
    top: 0px !important;
    font-weight: 500 !important;
    cursor: pointer;
  }

  .bootstrap-tokenizer {
    @include box-shadow(inset 0 -2px 0 map-get($theme-colors, 'success'));
    border: none;
  }

  .bootstrap-tokenizer-input {
    display: inline-block;
  }

  .close-button {
    margin-left: 0.1875rem;
  }
}

.token {
  &.token-info {
    background-color: $teal !important;
  }

  &.token-success {
    background-color: $green !important;
  }

  &.token-warning {
    background-color: $orange !important;
  }

  &.token-danger {
    background-color: $red !important;
  }

  .close-button {
    cursor: pointer;
  }
}
