.toggle {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 1em;
  border: 0.1em solid var(--bs-light-bg-subtle);
  border-radius: 0.6em;
  box-sizing: content-box;
  background: var(--bs-light-bg-subtle);
  transition: background .2s ease-in-out;

  &:focus {
    outline: none;
    backdrop-filter: brightness(80%);
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: left .2s ease-in-out;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: var(--bs-white);
  }

  &:checked {
    background: var(--bs-primary-bg-subtle);
    color: var(--bs-primary);

    &::after {
      left: 1em;
    }
  }
}
