@import '~@42.nl/ui-core-styling/dist/scss/abstracts/variables';
@import '~@42.nl/ui-core-styling/dist/scss/abstracts/mixins';

.flash-messages {
  position: fixed;
  height: 3.125rem;
  left: 50%;
  top: 1rem;
  z-index: 9000;
  transform: translateX(-50%);
  @include media-breakpoint-down(sm) {
    min-width: 90%;
  }

  .close {
    position: relative;
    left: 74px;
    top: -13px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  .alert {
    @each $color, $value in $theme-colors {
      &.alert-#{$color} {
        background: $value;
        border-color: $value;
        @include color-yiq($value);
      }
    }
  }
}
