.flash-message {
  position: relative;
  margin-top: 1rem;
  
  .close {
    position: relative;
    left: 74px;
    top: -13px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  .alert {
    @each $color, $value in $theme-colors {
      &.alert-#{$color} {
        background: $value;
        border-color: $value;
        @include color-yiq($value);
      }
    }
  }
}
