/**
* Make material-icons within Bootstrap great again!
*/
.input-group {
  &-append,
  &-prepend {
    i {
      @extend .input-group-text;
    }

    .btn > i.material-icons {
      border: 0;
      background: none;
      color: #fff;
      padding: 0;
    }
  }
}

.nav-link {
  i.material-icons {
    vertical-align: middle;
  }
}
