.button {
  .btn {
    position: relative;
    overflow: hidden;

    .button-icon {
      font-size: 1.1em;
    }
  }

  @each $color, $value in $theme-colors {
    &.#{'' + $color} {
      .spinner {
        stroke: $value;
      }
    }
  }

  .btn-outline-info {
    color: $text-info-contrast;
  }

  .btn-outline-warning {
    color: $text-warning-contrast;
  }
}
