.button {
  .btn {
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;

    // The sizes for the icons were chosen so that when the button
    // has an icon the buttons do not increase in height. This way
    // buttons with or without icons have the same size.
    &-lg {
      .button-icon {
        font-size: 1.1rem;
      }
    }

    &-md {
      .button-icon {
        font-size: 1rem;
      }
    }

    &-sm {
      .button-icon {
        font-size: 0.9rem;
      }
    }
  }

  @each $color, $value in $theme-colors {
    &.#{"" + $color} {
      .spinner {
        stroke: $value;
      }
    }
  }

  .btn-outline-info {
    color: $text-info-contrast;
  }

  .btn-outline-warning {
    color: $text-warning-contrast;
  }
}
