// @remove-on-build-start
@import '~@42.nl/ui-core-styling/lib/bootstrap';
// @remove-on-build-end

.more-or-less {
  display: inline;

  .more-or-less-link {
    font-size: 12px;
    display: inline;
    cursor: pointer;
    text-decoration: underline !important;
  }
}
