// http://ericgio.github.io/react-bootstrap-typeahead/

// Make the placeholder text inside the typeahead the same color
// as the normal input we have.
.showing-placeholder {
  .rbt-input-main {
    &::placeholder {
      color: $input-placeholder-color;
      // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: 1;
    }
  }
}

.rbt-input-multi {
  .rbt-input-wrapper {
    margin: 0;

    .tag {
      height: auto;
    }

    .rbt-input-main {
      margin: 0;
    }
  }

  // Remove border shadow on focus like we do for all inputs
  &.focus {
    box-shadow: none !important;
    border-color: $gray-400 !important;
  }
}

// the typeahead does not become have a red border by default
// when invalid so we fix it here for both the multiple and
// single variant
.is-invalid {
  .rbt-input-multi {
    border-color: $danger;
  }
}

.rbt {
  .form-control {
    .is-invalid {
      border-color: $danger;
    }
  }

  .rbt-menu {
    .dropdown-item {
      font-weight: bold;

      .rbt-highlight-text {
        font-weight: normal;
      }
    }
  }
}
