// http://ericgio.github.io/react-bootstrap-typeahead/
.bootstrap-typeahead-menu {
  > li > a {
    @extend .dropdown-item;
  }
}

.showing-placeholder {
  .rbt-input-main {
    &::placeholder {
      color: $input-placeholder-color;
      // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: 1;
    }
  }
}

.is-invalid {
  .rbt-input-multi {
    padding: 0.375rem 0 0 0.75rem;
    border-color: $danger;
  }
}

.rbt {
  .form-control {
    .is-invalid {
      border-color: $danger;
    }
  }
}
