.form-control:focus, .form-select:focus {
  box-shadow: none !important;
  border-color: var(--bs-gray-400) !important;
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  label {
    padding-left: 1.5625rem;
  }

  input[type='radio'],
  input[type='checkbox'] {
    margin-left: -1.5625rem;
  }
}

.form-control-label {
  font-size: 0.8rem;
  color: var(--bs-secondary-color);
}

textarea,
textarea.form-control,
input.form-control,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
[type='text'].form-control,
[type='password'].form-control,
[type='email'].form-control,
[type='tel'].form-control,
[contenteditable].form-control {
  &[disabled],
  &[readonly] {
    @include box-shadow(none);
    border-bottom: 1px dotted #ddd;
  }
}

select,
select.form-select {
  &[disabled],
  &[readonly] {
    @include box-shadow(none);
    border-bottom: 1px dotted #ddd;

    &,
    option {
      color: var(--bs-secondary-color);
    }
  }

  &[multiple] {
    background: none;
  }
}

select.showing-placeholder {
  color: var(--bs-secondary-color);
}

.input-group .btn > i.material-icons {
  border: 0;
  background: none;
  color: #fff;
  padding: 0;
}
