// Defaults
body {
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: var(--bs-font-sans-serif);
  }
}

table > thead > tr > th,
strong {
  font-weight: 500;
}

.text-strong {
  font-weight: 500;
}
