.content-state {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 10rem;

  .state-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 3rem;

    > i {
      opacity: 0.83;
      color: map-get($theme-colors, primary);

      // First add icon
      &:nth-of-type(1) {
        transform: rotate(55deg) translate(10px, 30px);
        font-size: 1.6em;
      }

      // Checkbox unchecked underneath add icon
      &:nth-of-type(2) {
        transform: translate(-20px, 70px);
        font-size: 0.6em;
      }

      // Picture icon
      &:nth-of-type(3) {
        transform: rotate(-30deg) translate(-10px, 0px);
      }

      // Folder icon
      &:nth-of-type(4) {
        transform: rotate(10deg) translate(10px, -5px);
        font-size: 2.4em;
      }

      // Checkbox unchecked underneath folder
      &:nth-of-type(5) {
        transform: translate(-15px, 35px);
        font-size: 0.4em;
      }

      // Add to the right
      &:nth-of-type(6) {
        transform: rotate(-15deg) translate(-5px, 45px);
        font-size: 0.8em;
      }
    }
  }

  .state-content {
    i {
      position: relative;
      -webkit-font-smoothing: antialiased;
      font-size: 5rem;
      color: $text-muted;
    }
  }
}
