@import '~@42.nl/ui-core-styling/scss/variables';
@import '~@42.nl/ui-core-styling/scss/bootstrap';
@import '~@42.nl/ui-core-styling/scss/icons';
@import '~@42.nl/ui-core-icon/lib/scss/Icon';
@import '~@42.nl/ui-core-spinner/lib/scss/Spinner';

.button {
  .btn {
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;

    @each $color, $value in $theme-colors {
      &.btn-#{$color} {
        &:hover,
        &:active:hover {
          background-color: darken($value, 6%);
        }
      }
    }

    .material-icons {
      vertical-align: middle;
      font-size: 1rem;
      margin-bottom: 2px;
    }

    .spinner {
      position: relative;
      top: -2px;
      left: -5px;
    }
  }

  @each $color, $value in $theme-colors {
    &.#{$color} {
      .spinner {
        stroke: $value;
      }
    }
  }
}
