.epic-pagination {
  .page-item {
    margin: 2px;

    .page-link {
      background-color: transparent;
      border-color: transparent;
      border-radius: 50%;
      padding: initial;
      width: 2.5rem;
      height: 2.5rem;

      .icon {
        display: block;
      }
    }

    &.disabled .page-link,
    .page-link.disabled {
      background-color: transparent;
      border-color: transparent;
      color: var(--bs-secondary-color);
    }

    &.active .page-link {
      color: var(--bs-body-color);
    }

    .scale-to-page-size-1000 {
      font-size: small;
    }

    .scale-to-page-size-10000 {
      font-size: x-small;
    }
  }

  .pagination__total-elements {
    margin: 2px;
    padding: initial;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }

  .pagination__select-size {
    margin-bottom: 0 !important;

    .form-select {
      border-color: #dee2e6;
      min-width: 77px;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
}
