.sticky-modal {
  .modal {
    height: auto;
    bottom: 1.75rem;
    overflow-y: scroll !important;

    .modal-dialog {
      max-height: 100%;
    }

    .modal-footer {
      background-color: var(--bs-modal-bg);
      position: sticky;
      bottom: 0;
      z-index: 10; // This should be higher than pagination active item
    }
  }
}
