// Variables
@import './styling/variables';

// Abstract styles
@import './styling/bootstrap';
@import './styling/typography';
@import './styling/form';

.flash-message {
  @each $color, $value in $theme-colors {
    &.alert-#{"" + $color} {
      background: $value;
      border-color: $value;
      color: color-contrast($value);
    }
  }
}
