.info-badge-container {
  position: relative;
  display: inline-block;
  > .badge {
    position: absolute;
    top: -12px;
    right: -12px;
  }
}

// Fix text alignment of badges within a flex container
.d-flex {
  .badge {
    align-self: center;
  }
}
